[submodule "reloc"]
	path = reloc
	url = https://gitlab.mpi-sws.org/iris/reloc
[submodule "iris"]
	path = iris
	url = https://gitlab.mpi-sws.org/iris/iris
[submodule "stdpp"]
	path = stdpp
	url = https://gitlab.mpi-sws.org/iris/stdpp
[submodule "lambdac"]
	path = lambdac
	url = https://gitlab.mpi-sws.org/iris/c/
[submodule "seloc"]
	path = seloc
	url = https://github.com/co-dan/SeLoC
